/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Protest+Riot&display=swap');

/* Color Variables */
:root {
  --white: #fff;
  --black: #222;
   --green: #608008;/*608008 */
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;
  --grey3: #e0e0e0;
  --green2: #6080086b;
  --green3: #263302;
  --blue_see: #63b4da;
  --blue_see2: #447a94;
  --green_add: #28a745;
  --green_add2: #124d20;
  --yellow_save_changes: #ffc107;
  --yellow_save_changes2: #745806;
  --red_delete: #dc3545;
  --red_delete2: #741c24;
}

/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}


.d-flex {
  display: flex;
  align-items: center;

}



/* 
=================
Header
=================
*/

.header {
  position: relative;
  /* min-height:30vh; */
  overflow-x: hidden;

}

.top-nav {
  background-color: var(--green);
  font-size: 1.8rem;
  font-family: 'Protest Riot', sans-serif;
  color: var(--white);
}

.top-nav div {
  justify-content: right;
  height: 4.0rem;
}

.top-nav a {
  color: var(--white);
  padding: 0 0.5rem;
}

.top-nav a:hover {
  text-decoration: underline;
}

ul.d-flex li {
  margin-left: 20px;
  /* Ajusta el valor según sea necesario */
}

/* 
=================
Navigation
=================
*/
.navigation {
  height: 6rem;
  line-height: 6rem;
}

.nav-center {
  justify-content: space-between;
}

.nav-list .icons {
  display: none;
}

.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
}

.nav-center .nav-link:hover {
  color: var(--green);
}

.nav-center .hamburger {
  display: none;
  font-size: 2.3rem;
  color: var(--black);
  cursor: pointer;
}

/* Icons */

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #555;
  position: relative;
}

.icon:not(:last-child) {
  margin-right: 0.5rem;
}


.icon span {
  position: absolute;
  top: 3px;
  right: -3px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 50%;
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 12%;
    left: -35rem;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 100%;
    width: 0%;
    max-width: 35rem;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }

  .nav-list.open {
    left: 0;
    width: 100%;
  }

  .nav-list .nav-item {
    margin: 0 0 1rem 0;
    width: 100%;
  }

  .nav-list .nav-link {
    font-size: 2rem;
    color: var(--black);
  }

  .nav-center .hamburger {
    display: block;
    color: var(--black);
    font-size: 3rem;
  }

  .icons {
    display: none;
  }

  .nav-list .icons {
    display: flex;
  }

  /*.top-nav ul {
      display: none; 
  }*/

  .top-nav div {
    /* justify-content: center; */
    height: 4.0rem;
  }
}



/* Category Section */
/* Tooltip container */
.cat {
    position: relative; /* Importante para que el posicionamiento absoluto del span funcione */
}

.cat .description {
  position: absolute; /* Permite que el span se posicione dentro del contenedor */
  top: 0; /* Ajusta la posición superior */
  left: 0; /* Ajusta la posición izquierda */
  width: 100%; /* Hace que el span ocupe el ancho completo del contenedor */
  height: 85%; /* Hace que el span ocupe el alto completo del contenedor */
  display: flex; /* Ajusta el contenido del span como un contenedor flexible */
  align-items: center; /* Centra verticalmente el contenido dentro del span */
  justify-content: center; /* Centra horizontalmente el contenido dentro del span */
  background-color: rgba(0, 0, 0, 0.5); /* Opcional: un fondo semi-transparente */
  color: white; /* Color del texto */
  padding: 20px; /* Espacio interno dentro del span */
  box-sizing: border-box; /* Incluye el padding dentro del ancho y alto del span */
 
}



.cat .description {
  display: none;/*  Oculta la descripción por defecto */
}

.cat:hover .description {
  display: block; /* Muestra la descripción al pasar el cursor sobre el contenedor .cat */
}



.section {
  padding: 3rem 0 0 0;
  overflow: hidden;
}

.cat-center {
  display: flex;
  flex-wrap:wrap; /* Cambia el comportamiento para envolver los elementos en filas */
  align-items: center;
  justify-content: center;
  max-width: 150;
  margin: auto;
  padding: 0 3rem;
}

.cat-center .cat {
  max-width: 100rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-right: 3rem;
}
.cat-center .cat:nth-child(3n) {
  margin-right: 0; /* Elimina el margen derecho de la tercera categoría para que no haya espacio adicional */
}
.cat-center .cat:not(:last-child) {
  margin-right: 3rem;
}

.cat-center .cat img {
  width: 30rem;
  height: 20rem;
  margin: auto;
  object-fit: cover;
  transition: all 2s ease;
}

.cat-center .cat:hover img {
  transform: scale(1.1);
}

.cat-center .cat div {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: 18rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .cat-center .cat img {
    width: 30rem;
  }
}

@media only screen and (max-width: 967px) {
  .cat-center .cat {
    max-width: 100rem; 
    height: 25rem;
  }
  .cat-center .cat:nth-child(2n) {
    margin-right: 0; 
  }
  .cat-center .cat img {
    width: 25rem;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 5rem 0;
  }

  .cat-center {
    flex-direction: column;
    padding: 3rem;
  }

  .cat-center .cat {
    max-width: 100%;
    height: 25rem;
    margin-right: 0; 
    margin-bottom: 5rem; 
  }

  .cat-center .cat:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 5rem;
  }

  .cat-center .cat img {
    width: 100%;
  }
}

/* New Arrivals */
.title {
  text-align: center;
  margin-bottom: 5rem;
}

.title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  position: relative;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.product-info {
  padding: 1rem;
  text-align: center;
}

.product-info span {
  display: inline-block;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}

.product-info a {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
  transition: all 300ms ease;
}

.product-info a:hover {
  color: var(--green);
}

.product-item .icons {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.product-item .icons li {
  background-color: var(--white);
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 2.3rem;
  cursor: pointer;
  transition: 300ms ease-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}

.product-item .icons li:first-child {
  transition-delay: 0.1s;
}

.product-item .icons li:nth-child(2) {
  transition-delay: 0.2s;
}

.product-item .icons li:nth-child(3) {
  transition-delay: 0.3s;
}

.product-item:hover .icons li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.product-item .icons li:not(:last-child) {
  margin-right: 0.5rem;
}

.product-item .icons li:hover {
  background-color: var(--green);
  color: var(--white);
}

.product-item .overlay {
  position: relative;
  overflow: hidden;
  /* cursor: pointer; */
  width: 100%;
}

.product-item .overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-out;
}

.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}

.product-item:hover .product-thumb img {
  transform: scale(1.1);
}

.product-item .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--green);
  padding: 0.5rem 1rem;
  color: var(--white);
  border-radius: 2rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 567px) {
  .product-center {
    max-width: 100%;
    padding: 0 1rem;
  }

  .product-item {
    width: 40%;
    margin-bottom: 3rem;
  }

  .product-thumb img {
    height: 20rem;
  }

  .product-item {
    margin-right: 2rem;
  }

  .product-item .icons li {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }
}

/* Banner */

.banner {
  position: relative;
  background-color: var(--green2);
  padding: 14rem 20%;
  margin: 10px 0px 0px 0px;

}

.banner .right img {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 75rem;
}

.banner .trend,
.banner p {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-family: 'Protest Riot', sans-serif;
}

.banner h1 {
  font-size: 5.4rem;
  color: var(--black);
  margin-bottom: 1.5rem;
  font-family: 'Protest Riot', sans-serif;
}

.banner .btn {
  display: inline-block;
  margin-top: 2rem;
}

@media only screen and (max-width: 1500px) {
  .banner {
    padding: 14rem;
  }

  .banner .right img {
    right: 3rem;
    width: 70rem;
  }
}

@media only screen and (max-width: 996px) {
  .banner {
    padding: 8rem 2rem;
  }

  .banner .trend,
  .banner p {
    font-size: 1.5rem;
  }

  .banner h1 {
    font-size: 4rem;
  }

  .banner .right img {
    right: -6%;
    width: 50rem;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr;
    height: 80vh;
  }

  .banner .left {
    width: 100%;
    margin-bottom: 3rem;
  }

  .banner .right {
    flex: 0 0 50%;
  }

  .banner .right img {
    right: 0;
    width: 50rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 567px) {
  .banner {
    padding: 8rem 5rem;
  }

  .banner .trend,
  .banner p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .banner .btn {
    padding: 0.8rem 1.7rem;
    font-size: 1.4rem;
  }

  .banner .right img {
    width: 45rem;
  }
}


/* All Products */
.section .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.all-products .top select {
  font-family: 'Poppins', sans-serif;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

form {
  position: relative;
  z-index: 1;
}

form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .all-products .top select {
    width: 15rem;
  }
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  padding: 3rem 0 5rem 0;
}

.pagination span {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid var(--green);
  font-size: 1.8rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.pagination span:hover {
  border: 1px solid var(--green);
  background-color: var(--green);
  color: #fff;
}

/* Cart Items */
.cart {
  margin: 10rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 0.5rem;
  color: #fff;
  background-color: var(--green);
  font-weight: normal;
}

td {
  padding: 1rem 0.5rem;
}

td input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

td a {
  color: orangered;
  font-size: 1.4rem;
}

td img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}

.total-price {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 2rem;
}

.total-price table {
  border-top: 3px solid var(--green);
  width: 100%;
  max-width: 35rem;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout {
  display: inline-block;
  background-color: var(--green);
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}
.checkout:hover{
  background-color: var(--green3);
}

@media only screen and (max-width: 567px) {
  .cart-info p {
    display: none;
  }
}


/* Login Form */
.login-form {
  padding: 10px 20px 10px 20px;
  max-width: 50rem;
  margin: 1rem auto;
  background-color: var(--green2);
  border-radius: 10px;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form form h1 {
  margin-bottom: 1rem;
  /* font-family: 'Protest Riot', sans-serif; */
  align-self: center;
}

.login-form form p {
  margin-bottom: 2rem;
}

.login-form form label {
  margin-bottom: 1rem;
}

.login-form form input {
  border: 1px solid var(--green);
  outline: none;
  padding: 1.5rem 0;
  text-indent: 1rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.login-form form input::placeholder {
  font-size: 1.6rem;
  color: #2222229c;
}

.login-form form select {
  border: 1px solid var(--green);
  outline: none;
  padding: 1.5rem 0;
  text-indent: 1rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}


.login-form form .buttons {
  margin-top: 1rem;
}


.login-form form button {
  outline: none;
  border: none;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  margin-right: 1.5rem;
  /* background-color: var(--green); */
  color: white;
  cursor: pointer;
}

.login-form .cancelbtn{
  background-color: var(--red_delete);
}
.login-form .cancelbtn:hover{
  background-color: var(--red_delete2);
}
.login-form .registrobtn{
  background-color: var(--green_add);
}
.login-form .registrobtn:hover{
  background-color: var(--green_add2);
}

/* 
=================
Navigation NombreLogo
=================
*/
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  /* ajusta el tamaño de la imagen */
  height: 50px;
  /* ajusta el tamaño de la imagen */
  /*border-radius: 50%;  para hacer un círculo */
  margin-right: 0px;
  /* ajusta el espacio entre la imagen y el texto */
}

.logo-container h1 {
  font-size: 30px;
  color: black;
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
  /* Subraya el texto */
}

.logo-container .shop {
  color: var(--green);
  font-weight: bold;

}

.logo {
  text-decoration: none;
}

/*Username*/
.username-label {
  
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;/* Hace que el texto sea negrita */
  position:relative;
  bottom: 5px; /* Mueve el label 20px hacia abajo desde su posición original */
  left: 3px;  /*Mueve el label 10px hacia la izquierda desde su posición original */
}
.username-label:hover {
  text-decoration: underline; /* Subraya el texto cuando el cursor pasa sobre él */
}



/* ======================Product Details====================== */
.product-detail .details {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 7rem;
}

.product-detail .left {
  display: flex;
  flex-direction: column;
}

.product-detail .left .main {
  text-align: center;
  background-color: #f6f2f1;
  margin-bottom: 2rem;
  height: 45rem;
}

.product-detail .left .main img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product-detail .right span {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-detail .right h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.product-detail .right .price {
  font-size: 600;
  font-size: 2rem;
  color: var(--green);
  margin-bottom: 2rem;
}

.product-detail .right div {
  display: inline-block;
  position: relative;
  z-index: -1;
}

.product-detail .right select {
  font-family: 'Poppins', sans-serif;
  width: 20rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

.product-detail form {
  margin-bottom: 2rem;
  z-index: 0;
}

.product-detail form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

.product-detail .form {
  margin-bottom: 3rem;
}

.product-detail .form input {
  padding: 0.8rem;
  text-align: center;
  width: 5.5rem;
  margin-right: 2rem;
}

.product-detail .form .addCart {
  background: var(--green);
  padding: 0.8rem 4rem;
  color: #fff;
  border-radius: 3rem;
}

.product-detail h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 996px) {
  .product-detail .left {
    width: 30rem;
    height: 45rem;
  }

  .product-detail .details {
    gap: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .product-detail .details {
    grid-template-columns: 1fr;
  }

  .product-detail .right {
    margin-top: 1rem;
  }

  .product-detail .left {
    width: 100%;
    height: 45rem;
  }

  .product-detail .details {
    gap: 3rem;
  }
}
/* ======================Product Details====================== */