/* PERFIL */
.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 50px;

}

.info-section,
.edit-section {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
}

.info-section h2,
.edit-section h2,
.session-reports h2 {
    text-align: center;
}

.info-section {
    background-color: var(--green2);
    border-radius: 20px;

}

.info-section li strong {
    font-weight: bold;
    margin-right: 5px;
}

.info-section li {
    padding-bottom: 8px;
}

.info-section .bx-user {
    font-size: 5em;
    /* Tamaño del icono */
    display: block;
    /* Hace que el icono se comporte como un bloque para centrarlo horizontalmente */
    margin: 0 auto;
    /* Centra horizontalmente el icono */
    /* margin: 15px 135px 15px 135px ; */
}


.edit-section {
    background-color: var(--green);
    border-radius: 20px;
}

.edit-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    /* Cambiar color a tu preferencia */
}

/* Estilos adicionales para los input dentro de edit-section */
.edit-section input[type="text"],
.edit-section input[type="email"],
.edit-section input[type="number"],
.edit-section input[type="file"],
.edit-section textarea,
.edit-section select {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Asegura que el padding no aumente el ancho total del input */

    border: 1px solid var(--green3);
    outline: none;
    font-size: 1.6rem;
}


/* Estilos para el botón dentro de edit-section */
.button-group-perfil {
    /* justify-content:space-between; */
    display:grid;
}
.button-group {
    display: flex;
    /* justify-content: center; */
    /* Centra los elementos horizontalmente */
}

.edit-section button {
    /* background-color: var(--yellow_save_changes); Color de fondo */
    color: black;
    /* Color del texto */
    padding: 10px 20px;
    /* Espacio interno */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* Borde redondeado */
    cursor: pointer;
    /* Cursor de puntero */
    font-weight: bold;
    margin: auto 5px 15px auto;
}

/* Estilos para botónes el grgupo de botones*/
.edit-section .btn-editar {
    background-color: var(--yellow_save_changes);
    /* Color de fondo para editar producto */

}

/* Estilos para botónes */
/* Estilos para los modales */






.session-reports {
    /* background-color: #263302; */
    margin-bottom: 20px;
    padding: 10px;
}

.table-container-ventas,
.table-container-compras,
.tabla-de-productos {
    max-height: 500px;
    /* Ajusta según el porcentaje deseado */
    overflow: auto;
    scrollbar-width: thin;
    /* ancho del scrollbar */
    scrollbar-color: #ccc #f0f0f0;
    /* color del scrollbar */
}

/* Estilos específicos para navegadores Firefox */
.table-container-ventas,
.table-container-compras,
.tabla-de-productos {
    scrollbar-width: thin;
    scrollbar-color: var(--green) #f0f0f0;
}

#table-container-ventas thead th,
.table-container-compras thead th,
.tabla-de-productos thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Asegura que esté por encima del contenido desplazado */
}

/* botones en la parte de la info del usuario */
.buttons button {
    /* margin-right: 23px; */
    /* Espacio entre los botones */
    margin-bottom: 10px;
    /* Espacio entre filas de botones */
    padding: 8px 16px;
    /* Ajuste de relleno */
    border: none;
    /* Quitar bordes */
    background-color: var(--green3);
    /* Color de fondo */
    color: #fff;
    /* Color de texto */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cursor de ratón al pasar por encima */
}

.buttons button:hover {
    background-color: var(--green);
    /* Cambio de color al pasar el ratón por encima */
}

@media only screen and (min-width: 601px) {
    .user-info {
        flex-direction: row;
    }

    .info-section {
        width: calc(50% - 10px);
    }

    .edit-section {
        width: calc(50% - 10px);
    }
}

/* PERFIL */

.buttons .active {
    background-color: var(--green); /* Color de fondo diferente */
}

